@use "../../sass/var" as *;

button {
  border: none;

  display: flex;
  height: 56px;
  padding: 12px;

  color: $pure-white;  
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-radius: 12px;
  background-color: $purple;
  box-shadow: 0px 16px 40px 0px rgba(49, 62, 81, 0.14);

  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
}


.reset_button{
  width: 100%;
}