@use "../../sass/variables";
@use "../../sass/mixins";

//HOME BANNER

main {
  display: flex;
  flex-direction: column;

  row-gap: 12rem;
}

%space{display: flex;
  flex-direction: column;
  row-gap: 3.2rem;  }

.home_container {
  @include mixins.conM;

  @extend %space ;

  

  &-hero_container {
    height: 240px;
  }

  section{
    @extend %space ;
  }

  &-title {
    @include mixins.HM;
    line-height: 5.5rem;
    text-transform: uppercase;
  }

  &-content {
    @include mixins.BS;
  }  

  @include mixins.tablet{
    @include mixins.conT;

    flex-direction: row;
    align-items: center;

    &-hero_container{
      height: 700px;
      width: 437px;
    }

    section{
      max-width: 339px;
    }

    &-title {
      @include mixins.HL;

    }
  }
}

//HERO IMAGE
.hero-img {
  position: absolute;
  top: 0;
  left: 0;

  height: 240px;
  width: 100%;

  background-image: url("/images/mobile/image-hero@2x.jpg");
  background-size: cover;
  background-position: center;

  @include mixins.tablet{
    background-image: url("/images/tablet/image-hero@2x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;

  height: 700px;
  width: 56.9014vw;


    left: 0;
    z-index: -1;
  }
}

//GALLERY BANNER

%gallery-title {
  font-family: "Big Shoulders Display", cursive;
  font-size: 5rem;
  line-height: 4.5rem;
  font-weight: 900;

  margin-bottom: 21px;

  text-transform: uppercase;
}

.gallery_container {
  @include mixins.conM;

  .gallery-card {
    box-shadow: 1px 1px 5px rgba($color: #151515, $alpha: 0.5);
  }
}

.gallery_container-line1 {
  margin-bottom: 32px;

  .gallery_grid1 {
    height: 320px;
    width: 100%;

    background-image: url("/images/mobile/image-grid-1@2x.jpg");
    background-size: cover;
    background-position: center;

    margin-bottom: 25px;
  }

  .gallery_grid-sect1 {
    &-title {
     @extend %gallery-title
    }

    &-content {
      @include mixins.BS;
    }
  }
}
.gallery_container-line2 {
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  .gallery_grid2 {
    height: 480px;
    width: 100%;

    background-image: url("/images/mobile/image-grid-2@2x.jpg");
    background-size: cover;
    background-position: center;
  }

  .gallery_grid3 {
    height: 200px;
    width: 100%;

    background-image: url("/images/mobile/image-grid-3@2x.jpg");
    background-size: cover;
    background-position: center;
  }

  .gallery_grid-sect2 {
    color: variables.$pure-white;
    background-color: variables.$secondary-color;

    padding: 48px 24px;

    &-title {
     @extend %gallery-title;
    }

    &-content {
      @include mixins.BS;
    }
  }
}
