@use "../../sass/var" as *;
@use "../../sass/mixin";


.contet_view-container{
  width: $container-mobile;
  margin: 0 auto;
}


%img_pattern {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

%div_pattern {
  height: 193px;
  width: 129px;
}


.contet_view-img_grid {
  padding-top: 24px;
  display: flex;
  position: relative;

  .hero-pattern1 {
    @extend %div_pattern;
    position: relative;
    left: -46px;

    &::after {
      content: "";
      position: absolute;

      height: 100%;
      width: 100%;
      left: 0;
      top: 0;

      border-radius: 20px;

      background-color: $theme-color;
      opacity: 80%;
    }

    img {
      @extend %img_pattern;
      filter: brightness(150%);

    }
  }

  .hero-pattern2 {
    @extend %div_pattern;
    width: 58.6666666667%;

    img {
      @extend %img_pattern;
    }
  }
}

.contet_view-content{
  margin-top: 75px;
  text-align: center;

  display: flex;
  flex-direction: column;
  row-gap: 24px;

  padding: 0 10px;

  h2{
    @include mixin.typo-mobile-H2;
    color: $title-color
  }


  p{
    @include mixin.typo-mobile-body;
    color: $text-color
  }
}


@include mixin.query-tablet{

}


@include mixin.query-desktop{

}
