@use '../../sass/variables';
@use '../../sass/mixin';

.profile__user{
  color: #0079FF !important;
}

.profile__container{
  display: flex;
  gap: 20px;    
  
  .profile__img{
    border-radius: 50%;
  }
}

.profile__infos{

  .profile__name{
    @include mixin.H3;    
  }
  .profile__user, .profile__acCreate{
    @include mixin.H4;
    
  }
  
  p{
    margin-top: 5px;
  }


  @include mixin.profileQuery{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}