@use "../../../sass/mixins";
@use "../../../sass/variables";

.footer_container {
  footer {
    @include mixins.conM;

    padding: 48px 0;

    display: flex;
    flex-direction: column;

    row-gap: 3.8rem;

    @include mixins.tablet{
      @include mixins.conT;

      flex-direction: row;
      justify-content: space-between;  
        
    }
  }

  nav {
    ul {
      display: flex;
      gap: 20px;
    }
  }
}

.logo {
  width: 110px;
  max-height: 40px;
}

.footer-content {
  @include mixins.BS;

  @include mixins.tablet{
    width: 40.7837446%;      
  }
}

%icon {
  width: 24px;
  height: 24px;

  transition: 0.3s;
}

.iconDark:hover {
  @extend %icon;
  fill: variables.$primary-color;
}

.iconLight:hover {
 @extend %icon;
 fill: variables.$pure-white;
}