@use '../../sass/var' as *;
@use '../../sass/mixin';

.qizz-subject-container{
  position: relative;
  z-index: 1;

  max-width: $size-mobile;
  margin: 0 auto;

  padding-top: 32px;

  @include mixin.tablet_query{
    padding-top: 62px;
    max-width: $size-tablet;
  }

  @include mixin.desktop_query{

    padding-top: 85px;
    max-width: $size-desktop;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.question-container{
  display: flex;
  flex-direction: column;
  

  row-gap: 24px;

  @include mixin.desktop_query{
    max-width: 465px;
    min-height: 500px;
    height: 100%;
    justify-content: space-between;


  }
  

}

.answer-container{
  
  @include mixin.desktop_query{width: 45.1724138%;
   }
}