$primary-color: #d5966c;
$secondary-color: #151515;
$tertiary-color: #444;
$pure-white: #fff;

//breackpoints
$L-desktop: 1550px;
$M-desktop: 1100px;
$tablet: 768px;
$L-mobile: 525px;
$S-mobile: 375px
