@use '../../sass/mixin';
@use '../../sass/variables';

.links_grid{
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 17px;  
}

.link__container{

  svg{
    height: 20px;
    width: 20px;
    margin-right: 20px ;    
  }

  @include mixin.H4;
}

@include mixin.tablet{

  .links_grid{
    margin-top: 37px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .link__container{
    width: 40%;
    @include mixin.H3;
  }

  .link__container-1{
    order:0
  }  
  .link__container-2{
    order:2
  }  
  .link__container-3{
    order:1
  }  
  .link__container-4{
    order:3
  }  

}