// COLORS
$dark-navy: #313E51;
$green: #26D782;
$grey-navy: #626C7F;
$light-grey: #F4F6FA;
$light-bluish: #ABC1E1;
$navy: #3B4D66;
$pure-white: #FFF;
$purple: #A729F5;
$red: #EE5454;


// SCREENS LIMIT AND SIZES
$size-desktop: 80.5555556%;
$limit-desktop: 1160px;
$size-tablet: 83.3333333%;
$base-tablet: 640px;
$size-mobile: 87.2%;
$base-mobile: 327px;

// FONT-SIZE