@use "../../sass/var" as *;
@use "../../sass/mixin";

%result_extend {
  margin-top: 40px;

  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 16px;

  border-radius: 12px;

  @include mixin.tablet_query {
    padding: 48px;
    gap: 40px;
  }

  @include mixin.desktop_query {
    
  margin-top: 0;
  }
}

.result_banner-container.light {
  @extend %result_extend;

  background-color: $pure-white;
}

.result_banner-container.dark {
  @extend %result_extend;

  background-color: $navy;
}

.icone-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
  span {
    font-size: 18px;
    font-weight: 500;
    line-height: 100%; /* 18px */

    @include mixin.tablet_query {
      @include mixin.hs
    }
  }
}

.icone {
  display: flex;
  align-items: center;
  justify-content: center;
}

.points-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 16px;

  h1 {
    margin-top: 5px;

    font-size: 88px;
    font-weight: 500;
    line-height: 100%;

    @include mixin.tablet_query {
      @include mixin.display
    }
  }
  p {
    color: $grey-navy;
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;

    @include mixin.tablet_query {
      font-size: 24px;
    }
  }
}
