@use "../../sass/var" as *;

.result_banner-container {
  margin-top: 40px;

  background-color: $pure-white;

  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 16px;

  border-radius: 12px;
}

.icone-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
  span {
    font-size: 18px;
    font-weight: 500;
    line-height: 100%; /* 18px */
  }
}

.icone {
  display: flex;
  align-items: center;
  justify-content: center;
}

.points-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 16px;

  h1 {
    margin-top: 5px;

    color: $dark-navy;
    font-size: 88px;
    font-weight: 500;
    line-height: 100%;
  }
  p {
    color: $grey-navy;
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
  }
}
