@use "../../sass/var" as *;
@use "../../sass/mixin";

.toggle_button-container {
  display: flex;
  position: relative;
  align-items: center;
  gap: 8px;

  img {
    width: 16px;
    height: 16px;
  }

  @include mixin.tablet_query {
    img {
      width: 24px;
      height: 24px;
    }
  }
}

.toggle_button-button {
  min-width: 32px;
  height: 20px;
  background-color: $purple;
  border-radius: 50px;

  position: relative;

  @include mixin.tablet_query {
    min-width: 48px;
    height: 28px;
  }
}

.toggle_button-button.light::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;

  top: 50%;
  transform: translateY(-50%);


  background-color: $pure-white;

  @include mixin.tablet_query {
    width: 20px;
    height: 20px;
  }
}

.toggle_button-button.dark::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;

  top: 50%;
  transform: translateY(-50%);


  background-color: $pure-white;

  @include mixin.tablet_query {
    width: 20px;
    height: 20px;
  }
}

%animation_extention {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
}

.toggle_animation.light::after {
  animation-name: light-to-dark;
  @extend %animation_extention;

  @include mixin.tablet_query {
    animation-name: light-to-dark-tablet;

  }
}

@keyframes light-to-dark {
  from {
    left: 16px;
  }
  to {
    left: 4px;
  }
}

@keyframes light-to-dark-tablet {
  from {
    left: 24px;
  }
  to {
    left: 4px;
  }
}

.toggle_animation.dark::after {
  animation-name: dark-to-light;
  @extend %animation_extention;
  @include mixin.tablet_query {
    animation-name: dark-to-light-tablet;

  }
}

@keyframes dark-to-light {
  from {
    left: 4px;
  }
  to {
    left: 16px;
  }
}

@keyframes dark-to-light-tablet {
  from {
    left: 4px;
  }
  to {
    left: 24px;
  }
}
