@use "../../sass/var" as *;

.toggle_button-container {
  display: flex;
  position: relative;
}

.toggle_button-button {
  width: 32px;
  height: 20px;
  background-color: $purple;
  border-radius: 50px;

  position: relative;
}

.toggle_button-button.light::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;

  top: 50%;
  transform: translateY(-50%);

  left: 4px;

  background-color: $pure-white;
}

.toggle_button-button.dark::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;

  top: 50%;
  transform: translateY(-50%);

  right: 4px;

  background-color: $pure-white;
}

%animation_extention{
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
}

.toggle_animation.light::after {
  animation-name: light-to-dark;
  @extend %animation_extention;
}

@keyframes light-to-dark {
  from {
    left: 16px;
  }
  to {
    left: 4px;
  }
}

.toggle_animation.dark::after {
  animation-name: dark-to-light;  
  @extend %animation_extention;

}

@keyframes dark-to-light {
  from {
    left: 4px;
  }
  to {
    left: 16px;
  }
}
