* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background: url(../../assets/mobile/image-host.jpg) no-repeat;
  background-size: cover;
  background-color: #121725;
  font-family: "Chivo", sans-serif;
  overflow-x: hidden;
}
@media screen and (min-width: 768px) {
  body {
    background: url(../../assets/tablet/image-host.jpg) no-repeat;
    background-position-x: 100%;
    background-color: #121725;
  }
}
@media screen and (min-width: 768px) and (min-width: 1100px) {
  body {
    background: url(../../assets/desktop/image-host.jpg) no-repeat;
    background-position-x: 100%;
    background-position-y: 130px;
    background-color: #121725;
  }
}

body:before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background-color: #121725e6;
}
@media screen and (min-width: 768px) {
  body:before {
    position: static;
  }
}

.main-brands-grid {
  display: grid;
  grid-auto-flow: column;
}
.main-brands-grid .spotify {
  width: 56px;
}
.main-brands-grid .spotify svg {
  transform: scale(0.5833333);
}
.main-brands-grid .applePodCast {
  width: 45px;
}
.main-brands-grid .applePodCast svg {
  transform: scale(0.576923077);
}
.main-brands-grid .googlePodCast {
  padding-top: 5px;
  width: 73px;
}
.main-brands-grid .googlePodCast svg {
  transform: scale(0.584);
}
.main-brands-grid .pocketCasts {
  width: 77px;
}
.main-brands-grid .pocketCasts svg {
  transform: scale(0.596899225);
}
.main-brands-grid picture svg {
  vertical-align: middle;
  transform-origin: center left;
  color: #5a668a;
}
@media screen and (min-width: 768px) {
  .main-brands-grid .spotify, .main-brands-grid .applePodCast {
    width: 29px;
  }
  .main-brands-grid .spotify svg, .main-brands-grid .applePodCast svg {
    transform: scale(1);
  }
  .main-brands-grid .googlePodCast {
    padding-top: 5px;
    width: 125px;
  }
  .main-brands-grid .googlePodCast svg {
    transform: scale(1);
  }
  .main-brands-grid .pocketCasts {
    width: 129px;
  }
  .main-brands-grid .pocketCasts svg {
    transform: scale(1);
  }
}

header {
  padding: 62px 0 57px 0;
}
header .container {
  max-width: 87.2%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
header .container .logo {
  height: 56px;
}
@media screen and (min-width: 768px) {
  header {
    padding: 50px 0 0 0;
    margin-bottom: 152px;
  }
  header .container {
    justify-content: flex-start;
    margin-left: 39px;
  }
}
@media screen and (min-width: 1100px) {
  header {
    padding: 102px 0 0 0;
    margin-bottom: 103px;
  }
  header .container {
    max-width: 1100px;
    margin-left: 149px;
  }
}

main .container {
  display: flex;
  flex-direction: column;
  max-width: 87.2%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  main .container {
    max-width: 635px;
    background-color: #121725;
    padding-top: 93px;
    margin-left: 39px;
  }
}
@media screen and (min-width: 1100px) {
  main .container {
    max-width: 723px;
    margin-left: 169px;
    padding-top: 88px;
  }
}
main .container .main-title {
  font-size: 26px;
  line-height: 38px;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  color: #54e6af;
  margin-bottom: 16px;
}
main .container .main-title span {
  color: #FFF;
}
@media screen and (min-width: 768px) {
  main .container .main-title {
    font-size: 48px;
    line-height: 56px;
    text-align: left;
    margin-bottom: 31px;
  }
}
@media screen and (min-width: 1100px) {
  main .container .main-title {
    font-size: 52px;
    line-height: 62px;
    margin-bottom: 24px;
  }
}
main .container .main-text {
  font-size: 15px;
  line-height: 25px;
  font-weight: 200;
  color: #C2CBE5;
  text-align: center;
  font-weight: 200;
  margin-bottom: 33px;
}
@media screen and (min-width: 768px) {
  main .container .main-text {
    font-size: 18px;
    line-height: 28px;
    text-align: left;
    max-width: 445px;
    margin-bottom: 40px;
  }
}
main .container .main-brands-grid {
  margin-bottom: 48px;
}
@media screen and (min-width: 768px) {
  main .container .main-brands-grid {
    order: 2;
    margin-bottom: 0;
  }
}
main .container form {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  position: relative;
}
@media screen and (min-width: 768px) {
  main .container form {
    order: 1;
    row-gap: 0;
    flex-direction: row;
    align-items: center;
    width: 427px;
    height: 56px;
    background-color: #2C344B;
    border-radius: 28px;
    margin-bottom: 64px;
  }
}
main .container form input, main .container form button {
  outline: none;
  border: none;
  border-radius: 23px;
  height: 46px;
  width: 100%;
  font-size: 14px;
  font-weight: 700;
}
main .container form input {
  background-color: #2C344B;
  color: #C2CBE5;
  padding-left: 32px;
}
main .container form button {
  background-color: #54e6af;
  cursor: pointer;
  color: #121725;
}
main .container form button:hover {
  background-color: #B3FFE2;
}
main .container form button:active {
  background-color: #121725;
  color: #54e6af;
}
@media screen and (min-width: 768px) {
  main .container form button {
    position: absolute;
    width: 162px;
    right: 5px;
  }
}

.bg-pattern {
  position: absolute;
  bottom: 0;
  left: 30px;
}
@media screen and (min-width: 1100px) {
  .bg-pattern {
    left: auto;
    right: 0;
    top: 718px;
  }
}
.bg-pattern img {
  display: none;
}
@media screen and (min-width: 768px) {
  .bg-pattern img {
    display: flex;
  }
}

.validation-message {
  position: absolute;
  color: #FB3E3E;
  left: 32px;
  bottom: -20px;
  font-size: 12px;
}

.showValidation {
  display: none;
  transition: 0.5s;
}

/*# sourceMappingURL=styles.css.map */
