@use "../../sass/var" as *;
@use "../../sass/mixin";

.title {
  position: relative;
  

  h1 {
    font-size: 40px;
    font-weight: 300;
    line-height: 100%; /* 40px */
    
    span {
      margin-top: 8px;
      font-weight: 500;
    }
  }

  p {
    margin-top: 16px;
    color: $grey-navy;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 150%;
  }

  @include mixin.tablet_query {
    

    h1 {
      @include mixin.hl;

      
    }

    h2{
      @include mixin.hm
    }

    p {
      font-size: 20px;
    }
  }


  @include mixin.desktop_query {
    
    
    p {
     margin-top: 48px;
    }
  }
}

.question_number {
  margin-top: 0;
  margin-bottom: 12px;
}
.question-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 120%; /* 24px */
}
