* {
  margin: 0;
  padding: 0;
  box-izing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
}

html {
  font-size: 10px;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  background-image: url(../assets/bg-main-mobile.png);
  background-position: top left;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  body {
    background-image: url(../assets/bg-main-tablet.png);
    background-position: top -200px left -300px;
    background-size: 150%;
  }
}
@media (min-width: 1100px) {
  body {
    background-image: url(../assets/bg-main-desktop.png);
    background-position: top -30rem left -40rem;
    background-size: 150%;
  }
}

header {
  position: relative;
}
header .bgPattern {
  display: none;
  position: absolute;
  top: -3.2rem;
  right: -3.567rem;
}
@media (min-width: 768px) {
  header .bgPattern {
    display: flex;
    height: 40rem;
    z-index: 0;
  }
}
@media (min-width: 1100px) {
  header .bgPattern {
    right: 0;
    top: -4rem;
    height: 46.8rem;
  }
}

.header {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 3.9rem 0;
  width: 87.2%;
  max-width: 375px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .header {
    width: 90.625%;
    max-width: 768px;
    margin: 0 auto;
    padding: 6.1rem 0;
  }
}
@media (min-width: 1100px) {
  .header {
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 3.2rem;
  }
}
.header-logo {
  height: 3.2rem;
}

.main-sect1 {
  width: 87.2%;
  max-width: 375px;
  margin: 0 auto;
  color: #191826;
  padding-bottom: 16.6rem;
}
@media (min-width: 768px) {
  .main-sect1 {
    width: 90.625%;
    max-width: 768px;
    margin: 0 auto;
    padding-bottom: 24.9rem;
  }
  .main-sect1-title, .main-sect1-text {
    width: 52rem;
  }
}
@media (min-width: 1100px) {
  .main-sect1 {
    max-width: 1100px;
    margin: 0 auto;
    padding-bottom: 32.1rem;
  }
}
.main-sect1-title {
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: -1px;
  margin-top: 2.5rem;
}
@media (min-width: 768px) {
  .main-sect1-title {
    font-size: 6.4rem;
    line-height: 6.4rem;
  }
}
@media (min-width: 768px) and (min-width: 1100px) {
  .main-sect1-title {
    width: 85rem;
    font-size: 8.8rem;
    line-height: 8.8rem;
  }
}
.main-sect1-text {
  font-size: 1.6rem;
  line-height: 2.6rem;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .main-sect1-text {
    margin-top: 28px;
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
}
@media (min-width: 1100px) {
  .main-sect1-text {
    width: 82.5rem;
    font-size: 2rem;
    line-height: 3.4rem;
  }
}
.main-sect2 {
  background-color: #191826;
  height: 60rem;
  border-radius: 1.2rem;
  margin-bottom: 39rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .main-sect2 {
    width: 90.625%;
    max-width: 768px;
    margin: 0 auto;
    margin: 0 auto 18.3rem auto;
  }
}
@media (min-width: 1100px) {
  .main-sect2 {
    max-width: 1100px;
    margin: 0 auto;
    margin: 0 auto 20.2rem auto;
    align-items: flex-start;
  }
}
.main-sect2-appIllustration {
  height: 430px;
  position: absolute;
  top: -9.8rem;
  left: calc(50vw - 11rem);
  z-index: 2;
}
@media (min-width: 768px) {
  .main-sect2-appIllustration {
    height: 55.6rem;
    top: -13.8rem;
    left: 6.4rem;
  }
}
@media (min-width: 1100px) {
  .main-sect2-appIllustration {
    height: 64.2rem;
    top: -21.3rem;
    left: 10.2rem;
  }
}
.main-sect2-bgPattern2 {
  position: relative;
  z-index: inherit;
  height: 42rem;
}
@media (min-width: 1100px) {
  .main-sect2-bgPattern2 {
    height: 46.8rem;
    top: -4rem;
    left: 33.6rem;
  }
}
.main-sect2-article {
  background-color: #Fa7453;
  color: #fcfaf9;
  width: 375px;
  padding: 48px 0;
  border-radius: 1.2rem;
  height: 45rem;
  position: absolute;
  bottom: -32.6rem;
}
@media (min-width: 768px) {
  .main-sect2-article {
    bottom: auto;
    top: 15rem;
    right: 5.8rem;
    z-index: 3;
    width: 30.3rem;
    padding: 48px;
  }
}
@media (min-width: 1100px) {
  .main-sect2-article {
    top: 9rem;
    right: 9.5rem;
    width: 33.4rem;
    height: 51.3rem;
    padding: 5.6rem;
  }
}
.main-sect2-article-header {
  width: 87.2%;
  max-width: 375px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .main-sect2-article-header {
    margin: 0;
    width: 100%;
  }
}
.main-sect2-article-header-title {
  font-size: 3.2rem;
  line-height: 4rem;
  margin-bottom: 1.2rem;
}
@media (min-width: 1100px) {
  .main-sect2-article-header {
    font-size: 4rem;
    margin-bottom: 2.2rem;
  }
}
.main-sect2-article-main {
  width: 87.2%;
  max-width: 375px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .main-sect2-article-main {
    margin: 0;
    width: 100%;
  }
}
.main-sect2-article-main-text {
  font-size: 1.8rem;
  line-height: 2.8rem;
  margin-bottom: 3.6rem;
}
@media (min-width: 1100px) {
  .main-sect2-article-main-text {
    font-size: 2rem;
    line-height: 3.4rem;
    margin-bottom: 3.9rem;
  }
}
.main-sect2-article-main-price {
  font-size: 1.8rem;
  line-height: 2.8rem;
  margin-bottom: 3.2rem;
}
.main-sect2-article-main-price span {
  font-size: 5.2rem;
  font-weight: bold;
}
@media (min-width: 1100px) {
  .main-sect2-article-main-price {
    font-size: 2rem;
    line-height: 3.4rem;
    margin-bottom: 4.6rem;
  }
  .main-sect2-article-main-price span {
    font-size: 5.2rem;
  }
}
.main-sect2-article-footer {
  width: 87.2%;
  max-width: 375px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .main-sect2-article-footer {
    margin: 0;
    width: 100%;
  }
}
.main-sect2-article-footer-button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.2rem;
  background-color: #191826;
  width: 29.6rem;
  height: 6.1rem;
  font-size: 18px;
  font-weight: bold;
  color: #fcfaf9;
  margin-bottom: 1.6rem;
}
.main-sect2-article-footer-button1 img {
  margin-right: 0.8rem;
}
@media (min-width: 1100px) {
  .main-sect2-article-footer-button1 {
    width: 33.3rem;
  }
}
.main-sect2-article-footer-button1:hover {
  background-color: #66e2dc;
}
.main-sect2-article-footer-button2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.2rem;
  background-color: #fcfaf9;
  width: 29.6rem;
  height: 6.1rem;
  font-size: 18px;
  font-weight: bold;
  color: #191826;
}
.main-sect2-article-footer-button2 img {
  margin-right: 0.8rem;
}
@media (min-width: 1100px) {
  .main-sect2-article-footer-button2 {
    width: 33.3rem;
  }
}
.main-sect2-article-footer-button2:hover {
  background-color: #ffb964;
}

.footer {
  width: 87.2%;
  max-width: 375px;
  margin: 0 auto;
  color: #191826;
  padding-bottom: 8rem;
}
@media (min-width: 768px) {
  .footer {
    width: 90.625%;
    max-width: 768px;
    margin: 0 auto;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 36.6rem auto;
    grid-template-rows: 14.3rem;
    padding-bottom: 8.5rem;
  }
}
@media (min-width: 1100px) {
  .footer {
    max-width: 1100px;
    margin: 0 auto;
    grid-template-columns: 65rem auto;
    grid-template-rows: 8rem;
    padding-bottom: 9.1rem;
  }
}
.footer-container {
  margin-bottom: 6.4rem;
}
@media (min-width: 768px) {
  .footer-container {
    margin-bottom: 0;
  }
}
@media (min-width: 1100px) {
  .footer-container {
    width: 65rem;
    display: flex;
    gap: 13rem;
  }
}
.footer-container-logo-img {
  height: 3.2rem;
  margin-bottom: 3.2rem;
}
.footer-container-address-list {
  font-size: 1.6rem;
  line-height: 2.6rem;
}
.footer-container-address-list a {
  color: #Fa7453;
}
@media (min-width: 768px) {
  .footer-social {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
@media (min-width: 1100px) {
  .footer-social {
    align-items: center;
  }
}
.footer-social-navigation-list {
  display: flex;
  gap: 2rem;
}
.footer-social-navigation-list svg:hover path {
  fill: #Fa7453;
}

/*# sourceMappingURL=styles.css.map */
