

//COLORS
$theme-color: #F16718;
$theme-color-hover: #FF9B62;
$title-color: #162542;
$text-color: #7B8BAD;
$pattern-color: #E8EFF2;
$pure-white: #FFFFFF;


// CONTAINERS
$container-desktop: 1110px;
$container-tablet: 689px;
$container-mobile: 327px;

