@use "./variables" as *;


//TIPHOGRAPHY
@mixin H1 {
  font-size: 2.6rem;
  line-height: 3.8rem;

}
@mixin H2 {
  font-size: 2.2rem;
  line-height: 3.3rem;
}

@mixin H3 {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
}

@mixin H4 {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 400;
}

@mixin theme-color( $light-theme: true){
  @if $light-theme {
    background-color:#f6f8ff;
    .container{
      background-color: $pureWithe;
    }
    h1,button,h3,p,span,svg,input {
      color: $lightTextColor;
    };

    h2{
      color: #2B3442
    }    
  } @else{
    background-color:#141D2F;
    h1,button,h2,h3,p,span,svg,input {
      color: $pureWithe;
    };
    .container{
      background-color: #1E2A47;
    }
  }
}

//Queries

@mixin tablet{
  @media screen and (min-width: 768px) {
    @content;
  }
}

//SPECIAL COISAS
@mixin profileQuery {
  @media screen and (min-width:840px) {
    @content;
  }
}

@mixin darkMode {
    @media(prefers-color-scheme: dark){
      @content;
    }
}
