//COLORS
$primaryColor: #222731;
$lightTextColor: #4B6A9B;
$strongTextColor: #2B3442;
$buttonNoTheme: #0079FF;
$buttonNoThemeHover:#60ABFF;
$pureWithe: #FFF;
$errMsg2: #F74646;


//WIDTH
$w-mobile: 87.2%;
$w-tablet: 730px;

//DARKMODE
$darkMode: true;