@use "../../sass/var" as *;

.quizz_grid-button_grid {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-top: 40px;
}

.quizz_grid-container {
  max-width: $size-mobile;

  margin: 0 auto;
}
