@use 'variables'
@use 'mixin'

*, *::before,*::after
 margin: 0
 padding: 0
 box-sizing: border-box
 font-family: 'Inter', sans-serif


html
  font-size: 10px
  //this changes the default font-size of the browser for 10px and then I can use the em unity

a
 text-decoration: none

input, label, a
 cursor: pointer

form
 input[type="number"]
  outline: none
  border: none
  appearance: textfield




 
.gradient-pattern
  background: variables.$gradient1
  width:100%
  height: 640px

  border-bottom-left-radius: 35px
  border-bottom-right-radius: 35px

  position: absolute
  top: 0
  z-index: -1