@use 'mixin'
@use 'variables'

main
 .container
  @include mixin.conS

  @include mixin.Tablet
    @include mixin.conM

 .banner

  &-content
   padding: 24px 0

   @include mixin.Tablet
    padding: 40px 0

   &-title
    @include mixin.headingXL
    color: variables.$gunmetal
    margin-bottom: 24px

    br
      display: none

      @include mixin.Tablet
      display: flex
      

   &-body
    @include mixin.bodyM
    color: variables.$dark-eletric-blue
    margin-bottom: 24px
    text-align: center

.forms-container
 padding: 24px

 border-radius: 16px

 background-color: variables.$pure-white

 box-shadow: 16px 18px 56px variables.$shadow

 @include mixin.Tablet
  padding: 32px

 &-title
  @include mixin.headingM
  color: variables.$gunmetal
  margin-bottom: 24px

  @include mixin.Tablet
    text-align: left
    margin-bottom: 32px


  //Form 

.set-form

 display: flex
 gap: 24px 

 @include mixin.Tablet
  display: grid
  gap: 0
  grid-template-columns: 50% auto
 
 label
  @include mixin.bodyM
  font-weight: 600

  height: 31px
  padding-right: 29px
  padding-left: calc( 31px + 18px )

  margin-bottom: 24px  

  color: variables.$gunmetal

  display: flex
  align-items: center

  position: relative

  //this property controls whether the user can select text. this will inability the user to interact with the span box, that server only to show like the radio box
  user-select: none

  @include mixin.Tablet
    margin-bottom: 32px  

  //hide the browser's default radio button
  input 
    position: absolute
    opacity: 0
    height: 0
    width: 0

  .checkmark
    position: absolute
    top: 0
    left: 0

    width: 31px
    height: 31px
    border: 1px solid variables.$border
    border-radius: 50%


  //O till é uum seletor de CSS que seleciona os elementos que sao IRMÃOS do elemento anterior, ou seja, compartilham o mesmo pai.
  //Neste caso estou selecionando o .checkmark que estaja dentro do labe junto de um input. É uma forma de seletor que exclui um .checkmark que esteja em um pai que não tenha o irmão input. Interessante. Colocar isto no readme

label:hover input ~ .checkmark
  border-color: variables.$blue  


.checkmark:after
  content: ""
  position: absolute
  display: none


label input:checked ~ .checkmark
  border: none
  background-color: rgba(52, 95, 246, .15)
  


label input:checked ~ .checkmark:after 
  display: block

.checkmark:after  
  //discount 1 px from borders from the 31px Box-Model size and keep 29px for the calc
  top: calc( (30px / 2) - (15px / 2) )
  left: calc( ((30px / 2) - (15px / 2)) + 0.5px )
  
  width: 15px
  height: 15px
  border-width: 0
  border-radius: 50%
  background-color: variables.$blue


.calc-form

  display: flex
  flex-direction: column
  row-gap: 16px
  margin-bottom: 24px

  @include mixin.Tablet
    flex-direction: row
    gap: 24px
    row-gap: 0
    margin-bottom: 32px


  label
    @include mixin.bodyS
    color: variables.$dark-eletric-blue
    display: flex
    flex-direction: column

    @include mixin.Tablet
     row-gap: 8px

    .input-container
      border: 1px solid variables.$border
      padding: 20px 24px
      border-radius: 12px

      position: relative

      @include mixin.headingM

      input
        font-size: 1em
        line-height: 100%
        font-weight: 600

        color: variables.$gunmetal

        width: 100%
        text-align: left
        line-height: 90%


      input::placeholder
        color: variables.$gunmetal
        opacity: 25%


      span
        position: absolute
        font-weight: 600
        color: variables.$blue

        // comportamente interessante, para retirar 50 % - metade do valor da font, só precisei usar o 0.5 em ao inves de 1 em, porque aqui, ao invesde considerar que o em é 10 px, na verdade ele vale 20px, porque o valor da fonte foi alterado na div
        top: calc(50% - 0.5em)

        //same value of the current right padding
        right: 24px
        @include mixin.Tablet
          top: calc(50% - 0.4em)
        

//Colocar no readme sobre estes seletores com operadors para deixar + específica a seleção
.calc-form + #imperial-form
  
  @include mixin.Tablet
    flex-wrap: wrap    
    row-gap: 24px

  label    
    .inputs-field
      display: flex
      gap: 16px

      @include mixin.Tablet
      gap: 24px

    

       

  

  



//MESSAGE FROM FORM  
.forms-container 

 #message
    padding: 32px
    background: variables.$gradient2
    color: variables.$pure-white

    border-radius: 16px

    @include mixin.Tablet
      border-radius: 16px 100px 100px 16px

    #welcome
      display: flex
      flex-direction: column
      row-gap: 24px

      h3
        @include mixin.headingM
        text-align: left


      p
        @include mixin.bodyS
        text-align: left

    #result-message
      display: flex
      flex-direction: column
      row-gap: 24px

      @include mixin.Tablet
       display: grid
       grid-template-columns: 50% auto
       row-gap: 0
       gap: 24px

      .result-grid
        display: flex
        flex-direction: column        
        row-gap: 8px
        

        span
          @include mixin.bodyM
          font-weight: bold
          text-align: left

        h2
          font-size: 4.8em
          line-height: 110%

      .result-info
        p
          @include mixin.bodyS

          #result-range
            font-weight: 600

.hide-form-info
  display: none !important





  