@use 'mixin'
@use 'variables'


.info
 margin-top: 72px
 margin-bottom: 71.61px

 &-img 

 &-hero
  width: 100%  

 &-content
  padding-top: 48px
  

  img
   display: none

  &-title
   font-size: 3.2em
   font-weight: 600
   line-height: 110%
   letter-spacing: -5%

   color: variables.$gunmetal

   margin-bottom: 32px

  &-body
   @include mixin.bodyM
   align-text: left

   color: variables.$dark-eletric-blue

 @include mixin.Tablet
  display: grid
  grid-auto-flow: column
  grid-template-columns: 435px auto

  width: 841px
  margin: 96px 0
  gap: 75px

  position: relative

  left: -116px

  &-img
   width: 100%

  &-hero
  min-width: 435px  
  height: 411px

  &-content
   width: 331px
   

 



   
