@use 'mixin'
@use 'variables'


.benefits
 padding: 56px 0
 background: linear-gradient(275deg, #d6e6fe -375%, #e6fcfe00 )

 @include mixin.Tablet
  padding: 60px 0

 .cards-grid
  display: flex
  flex-direction: column
  row-gap: 40px

 &-card
  display: flex
  flex-direction: column
  row-gap: 32px
  img
   width: 64px

  @include mixin.Tablet
   display: grid
   grid-template-columns: 64px auto
   gap: 40px

   img
    align-self: center


  &-title
   @include mixin.headingM
   color: variables.$gunmetal
   text-align: left
   margin-bottom: 24px

  &-body
   @include mixin.bodyM
   color: variables.$dark-eletric-blue

  
