@use 'mixin'
@use 'variables'


.benefits
 padding: 56px 0
 background: linear-gradient(275deg, #d6e6fe -375%, #e6fcfe00 )

 @include mixin.Tablet
  padding: 60px 0

 @include mixin.Desktop
  padding: 72px 0 96px 0
  max-width: 1440px
  margin: 0 auto
  border-radius: 35px

 .cards-grid
  display: flex
  flex-direction: column
  row-gap: 40px

  @include mixin.Desktop
   display: grid
   grid-template-columns: repeat(3, 1fr)
   gap: 32px

 &-card
  display: flex
  flex-direction: column
  row-gap: 32px
  img
   width: 64px

  @include mixin.Tablet
   display: grid
   grid-template-columns: 64px auto
   gap: 40px

   img
    align-self: center

  @include mixin.Desktop
   display: flex
   flex-direction: column
   gap: 45px
   img
    align-self: flex-start


  &-title
   @include mixin.headingM
   color: variables.$gunmetal
   text-align: left
   margin-bottom: 24px

  &-body
   @include mixin.bodyM
   color: variables.$dark-eletric-blue

  
