@mixin conS
 //container small / mobile
 width: 87.2%
 margin: 0 auto

//Typography

@mixin headingXL
 font-size: 48px
 line-height: 110%
 font-weight: 600
 text-align: center

@mixin headingL

@mixin headingM
 font-size: 20px
 line-height: auto
 text-align: center

@mixin headingS

@mixin bodyM
 font-size: 16px
 line-height: 150%
 text-align: center


@mixin bodyS

