@use "./sass/var" as *;
@use "./sass/mixin";


%after_extent{
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.app-container.light {
  height: 100%;
  background-color: $light-grey;
}

.app-container.light::before {
  @extend %after_extent;
  background-image: url("/ellipse_pattern.png");
  z-index: 0;
}

.app-container.dark {
  height: 100%;
  background-color: $dark-navy;
}

.app-container.dark::before {
  @extend %after_extent;

  z-index: 0;
  background-image: url("/ellipse_pattern_dark.svg");
}
