@use "./assets/sass/variables";
@use "./assets/sass/mixin";

@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap");

html {
  font-size: 10px;
  font-family: "Space Mono", monospace;
  
  /*@include mixin.darkMode{
    @include mixin.theme-color(false);
  }
  @include mixin.lightMode{
    @include mixin.theme-color(true);
  }*/

}

#root, html, body{
  height: 100%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}


//COLORS AND THEMES
.errMsg{
  &__notAvailable{
  filter: opacity(.5);
  }

  &__NoResult{
    color: variables.$errMsg2 !important;
  }
}

.theme-light {   
  &, .contrast_container{
  @include mixin.theme-color(true);
  }
}

.theme-dark {
  &, .contrast_container{
    @include mixin.theme-color(false);
    }  
}







