@use "./assets/sass/variables";
@use "./assets/sass/mixin";

@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap");

html {
  font-size: 10px;
  font-family: "Space Mono", monospace;
  
}

#root, html, body{
  height: 100%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}


//COLORS AND THEMES

.theme-light {   
  &, .contrast_container{
  @include mixin.theme-color(true);
  }


  .head-container {
    h1 {
      color: variables.$primaryColor;
    }
    button {
      color: variables.$lightTextColor;
    }
  }
  
  .icon{
    color: variables.$lightTextColor
  }
}
.theme-dark {

  &, .contrast_container{
    @include mixin.theme-color(false);
    }

  
}

.errMsg{
  &__notAvailable{
  filter: opacity(.5);
  }

  &__NoResult{
    color: variables.$errMsg2 !important;
  }
}