@use "../../sass/mixin";
@use "../../sass/var" as *;

.header-container {
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 1;

  padding-bottom: 26px;
  width: $size_mobile;
  margin: 0 auto;

  @include mixin.tablet_query {
    width: $size_tablet;
  }

  @include mixin.desktop_query {
    width: $size_desktop;

    padding-bottom: 26px;
  }
}

.title-container {
  display: flex;
  align-items: center;
  gap: 16px;

  span {
    font-size: 18px;
    font-weight: 500;
    line-height: 100%; /* 18px */

    @include mixin.tablet_query {
      @include mixin.hs;
    }
  }
}

.header-container.form {
  justify-content: space-between;
}
.icone {
  border-radius: 4px;

  img {
    width: 28px;
    height: 28px;
  }

  @include mixin.tablet_query {
    img {
      width: 40px;
      height: 40px;
    }
  }
}

.icone.HTML {
  background-color: #fff1e9;
}

.icone.CSS {
  background-color: #e0fdef;
}

.icone.JavaScript {
  background-color: #ebf0ff;
}

.icone.Accessibility {
  background-color: #f6e7ff;
}
