@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

//FONTS
$roboto: "Roboto", sans-serif;
$slab: "Roboto Slab", serif;
$mono: "Roboto Mono", monospace;


// COLORS
$c-100: #FFFFFF;
$c-200: #F5F5F5;
$c-300: #E4E4E4;
$c-400: #C1C4CB;
$c-500: #7C8187;
$c-600: #5A6069;
$c-700: #35393F;
$c-800: #2B2D31;
$c-900: #1D1F22;
$c-1000: #151619;
$orange: #E46643;
$orangeHover: #F39765;

